[Desktop Entry]
Name=Playerctl
Type=Application
Exec=cosmic-ext-applet-playerctl
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
Icon=io.github.elevenhsoft.CosmicExtAppletPlayerctl-symbolic
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
